*.swatch
.mayaSwatches
*.pyc
*.vs
*.vscode
*.idea
screenshot-*
__pycache__
*.psd
*.psb
*.bak
built/
_out
*.pp
*.ppz
*.svg
index/
*.bak.py
*_temp.mb
_temp.mb
.XnViewSort
*.egg
buildtools/rules/test.txa
*.pclprof
*.bam
